.circle {
	width: 100px;
	height: 100px;
	background: burlywood;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.rectangle {
	width: 85px;
	height: 70px;
	background: black;
}

